
footer{
    padding: 20px;
    background-color: #212529;
    color: white;
    text-align: center;
  }

.flexy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#flexy{
    padding: 20px;
    margin: 0px;
}

.card{
    background-color: #8e44ad;
    padding: 1pc;
}

.btn{
    width: 100%;
    text-align: center;
}

@media(max-width: 600px) {
    .flexy{
        width: 90%;
    }
}